* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
}

#drop-button-language {
    cursor: pointer;
}

#dropdown-language {
    float: left;
    overflow: hidden;
}

#dropdown-content-language {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 64px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border: 2px solid green;
    border-radius: 4px;
}

#dropdown-content-language a {
    float: none;
    text-align: center;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-weight: 500;
    font-size: 16px;
}

#dropdown-content-language a:hover {
    background-color: #d4e8d2;
}

#dropdown-language:hover #dropdown-content-language {
    display: block;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 28;
}

h3 {
    font-size: 24px;
}

h4 {
    font-size: 20px;
}

h5 {
    font-size: 16px;
}

#nav-button {
    border: none;
    padding: 4% 24px;
    border-radius: 12px;
    background: #3C6E47;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    color: #fff;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    cursor: pointer;
}

#nav-button:hover {
    background: #F3F8EB;
    color: #3C6E47;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 25px;
    overflow: hidden;
}

header {
    background: linear-gradient(180deg, #DAE5C7 0%, rgba(60, 110, 71, 0.13) 100%);
    padding: 10px 0;
}

#logo {
    float: left;
    margin-top: 4px;
    margin-left: 20px;
}

.icon-container {
    width: 50px;
    height: 50px; 
}

.icon-container img {
    margin: 4px;
    width: 70%;
    height: auto;
}

.icon-container img:nth-child(2) {
    display: none;
}

.icon-container:hover img:nth-child(1) {
    display: none;
}

.icon-container:hover img:nth-child(2) {
    display: block;
}

#language-icon {
    display: flex;
}

#login {
    font-weight: 600;
    text-decoration: none;
    color: black;
}

#login:hover {
    color: #3C6E47;
}

nav {
    display: flex;
    float: right;
    align-items: center;
}

.nav-right {
    padding: 0 18px;
}

.intro-main-text {
    font-weight: 600;
    margin-bottom: 20px;
}

#hero {
    padding: 50px 120px;
    display: flex;
}

#hero h4 {
    margin-bottom: 45px;
}

#hero h3 {
    margin-bottom: 15px;
}

.intro-main-text, #hero h3 {
    color: #3C6E47;
}

.intro-sub-text, #hero h3, #hero button{
    font-weight: 500;
}

.intro-sub-text span {
    color: #DCAC3D;
}

.intro-button {
    border: none;
    background-color: #DCAC3D;
    font-size: 20px;
    color: #fff;
    font-weight: 500;
    padding: 8px 12px;
    border-radius: 12px;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16);
    cursor: pointer;
}

.intro-button:hover {
    background-color: #EFE1BF;
    color: #DCAC3D;
}

#carbie-intro1 {
    height: 450px;
}

#carbie-intro2, #carbie-intro6 {
    height: 400px;
}

#carbie-intro3, #carbie-intro4, #carbie-intro5 {
    height: 380px;
}

.left-side-text {
    margin-right: 40px;
}

.right-side-text {
    margin-left: 40px;
}

.intro-section {
    padding: 80px 120px;
    display: flex;
}

footer {
    text-align: center;
}

#join-section {
    background: linear-gradient(180deg, #DAE5C7 0%, rgba(60, 110, 71, 0.13) 100%);
    padding: 60px;
}

footer h2 {
    font-weight: 600;
}

#join-main-text {
    color: #3C6E47;
    margin-bottom: 40px;
}

#credit {
    margin-top: 20px;
}

#pre-loader {
    background: #fff url(../image/Loading-Animation.gif) no-repeat center center;
    background-size: 40%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}